@use "../responsive/core-responsive" as responsive;

@mixin core-grid($nb-columns) {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-columns: repeat($nb-columns, 1fr);
}

@for $i from 1 through 12 {
  //************************
  // .core-grid-*
  //************************
  .core-grid-#{$i} {
    @include core-grid(#{$i});
  }
  .core-grid-#{$i}-sup {
    @include responsive.core-ecran-sup() {
      @include core-grid(#{$i});
    }
  }
  .core-grid-#{$i}-mup {
    @include responsive.core-ecran-mup() {
      @include core-grid(#{$i});
    }
  }
  .core-grid-#{$i}-l {
    @include responsive.core-ecran-l() {
      @include core-grid(#{$i});
    }
  }
  //************************
  // .core-grid-row-*
  // .core-grid-column-*
  //************************
  @each $direction in row, column {
    .core-grid-#{$direction}-#{$i} {
      // #{$i} nécessaire sinon il fait une division lors de la transpilation
      grid-#{$direction}: #{$i} / #{$i};
    }
    .core-grid-#{$direction}-#{$i}-sup {
      @include responsive.core-ecran-sup() {
        // #{$i} nécessaire sinon il fait une division lors de la transpilation
        grid-#{$direction}: #{$i} / #{$i};
      }
    }
    .core-grid-#{$direction}-#{$i}-mup {
      @include responsive.core-ecran-mup() {
        // #{$i} nécessaire sinon il fait une division lors de la transpilation
        grid-#{$direction}: #{$i} / #{$i};
      }
    }
    .core-grid-#{$direction}-#{$i}-l {
      @include responsive.core-ecran-l() {
        // #{$i} nécessaire sinon il fait une division lors de la transpilation
        grid-#{$direction}: #{$i} / #{$i};
      }
    }
    //************************
    // .core-grid-row-*-span-*
    // .core-grid-column-*-span-*
    //************************
    @for $j from 1 through 12 {
      .core-grid-#{$direction}-#{$i}-span-#{$j} {
        grid-row: #{$i} / span #{$j};
      }
      .core-grid-#{$direction}-#{$i}-span-#{$j}-sup {
        @include responsive.core-ecran-sup() {
          grid-#{$direction}: #{$i} / span #{$j};
        }
      }
      .core-grid-#{$direction}-#{$i}-span-#{$j}-mup {
        @include responsive.core-ecran-mup() {
          grid-#{$direction}: #{$i} / span #{$j};
        }
      }
      .core-grid-#{$direction}-#{$i}-span-#{$j}-l {
        @include responsive.core-ecran-l() {
          grid-#{$direction}: #{$i} / span #{$j};
        }
      }
    }
  }
}
