<header>
    <h1>Cycle 1</h1>
    <span>{{(applicationStore.eleveSelectionneState$ | async)?.prenom}} {{(applicationStore.eleveSelectionneState$ |
        async)?.nom}}</span>
    <button *ngIf="!(applicationStore.estModeValidationActifState$ | async)"
            class="negative">
        <span>Accéder à la gestion des ressources</span>
    </button>
    <button *ngIf="(authenticationManager.userSignedInState$ | async)"
            class="negative"
            (click)="authenticationManager.signOut()">
        <span i18n>Se déconnecter</span>
    </button>
</header>
<section [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet">
    </router-outlet>
</section>

<footer>
    <h6>a3-dev-team - 2022 @copyright</h6>
</footer>

<lib-error>
</lib-error>
<lib-loader>
</lib-loader>