<header>
    <h1>Cycle 1</h1>
    <ng-container *ngIf="(authenticationManager.authenticatedUserState$ | async) as authenticatedUser">
        <span>{{authenticatedUser.firstName}} {{authenticatedUser.lastName}}</span>
        <button class="negative"
                (click)="authenticationManager.signOut()">
            <span i18n>Se déconnecter</span>
        </button>
    </ng-container>
</header>
<section [@routeAnimations]="outlet?.isActivated && outlet?.activatedRoute ? outlet?.activatedRoute : null">
    <router-outlet #outlet="outlet">
    </router-outlet>
</section>

<footer>
    <h6>a3-dev-team - 2022 @copyright</h6>
</footer>

<lib-error>
</lib-error>
<lib-loader>
</lib-loader>