<header *ngIf="!(applicationStore.estModeEleveState$ | async)">
    <h1>Cycle 1</h1>
    <ng-container *ngIf="(authenticationManager.authenticatedUserState$ | async) as authenticatedUser">
        <span>{{authenticatedUser.firstName}} {{authenticatedUser.lastName}}</span>
        <button class="a3-button-negative"
                (click)="authenticationManager.signOut()">
            <span i18n>Se déconnecter</span>
        </button>
    </ng-container>
</header>
<section>
    <div [@routeAnimations]="prepareRoute(routerOutlet)"
         class="a3-width-100 a3-height-100">
        <router-outlet #routerOutlet="outlet">
        </router-outlet>
    </div>
</section>

<footer *ngIf="!(applicationStore.estModeEleveState$ | async)">
    <h6> Lea - Cycle1 - {{version}} - a3-dev-team - 2022 @copyright</h6>
</footer>

<lib-error>
</lib-error>
<lib-loader>
</lib-loader>