<article>
    <header>
    </header>
    <section class="core-flex-column-start-center">
        <div class="core-grid-1">
            <button mat-flat-button
                    color="primary"
                    aria-label=""
                    routerLink="/validation/eleves">
                <mat-icon>account_circle</mat-icon>
                <span>
                    Validation des compétences (Accès élèves)
                </span>
            </button>
            <button mat-flat-button
                    color="primary"
                    aria-label=""
                    routerLink="/appreciation">
                <mat-icon>comment</mat-icon>
                <span>
                    Appréciation des compétences (Accès instituteurs)
                </span>
            </button>
            <button mat-flat-button
                    color="primary"
                    aria-label="">
                <mat-icon>manage_accounts</mat-icon>
                <span>
                    Paramétrages des cycle-classes
                </span>
            </button>
        </div>
    </section>
    <footer>

    </footer>
</article>