<article>
    <header>
        <h2>Titre de la fonctionalité</h2>
    </header>
    <section class="core-flex-column-start-center">
        <div class="core-grid-1">
            <button [routerLink]="'/validation'">
                <span>
                    Validation des compétences (Accès élèves)
                </span>
            </button>
            <button>
                <span>
                    Appréciation des compétences (Accès instituteurs)
                </span>
            </button>
            <button>
                <span>
                    Paramétrages des cycle-classes
                </span>
            </button>
            <label>
                label
            </label>
            <input placeholder="Entrez du texte" />
            <label>
                label
            </label>
            <input placeholder="Entrez du texte" />
        </div>
    </section>
    <footer>
        <button>
            <span>Action 1</span>
        </button>
        <button>
            <span>Action 2</span>
        </button>
    </footer>
</article>