<article>
    <!-- <header>
        <h2 i18n>SELECTIONNER ELEVE</h2>
    </header> -->
    <section class="a3-flex-1">
        <classe-eleve-tile-list [eleves$]="listeEleveClasse$"
                                (selected)="onEleveSelected($event)">

        </classe-eleve-tile-list>
    </section>
    <footer>
        <button *ngIf="!(applicationStore.estModeEleveState$ | async)"
                [routerLink]="['/accueil']"
                i18n>
            Retour accueil
        </button>

        <button i18n
                (click)="onUpdateCacheButtonClick()">
            Update cache
        </button>
    </footer>
</article>