<article>
    <header>
        <h2>Titre de la fonctionalité</h2>
    </header>
    <section class="a3-flex-column-start-center">
        <div class="a3-grid-1-auto">
            <button [routerLink]="'/validation'"
                    (click)="onValidationEleveButtonClick()">
                Validation des compétences (Mode Elève)
            </button>
            <button [routerLink]="'/validation'">
                Validation des compétences (Mode Professeur)
            </button>
            <button>
                Appréciation des compétences (Accès instituteurs)
            </button>
            <button [routerLink]="'/parametrage/liste-objectif'">
                Paramétrages des objectifs
            </button>
            <label>
                label
            </label>
            <input placeholder="Entrez du texte" />
            <label>
                label
            </label>
            <input placeholder="Entrez du texte" />
        </div>
    </section>
    <footer>
        <button>
            Action 1
        </button>
        <button>
            Action 2
        </button>
    </footer>
</article>